.parent-chart-div {
  display: contents;
  justify-content: space-evenly;
  margin-top: 15px;
}

.top-card {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: none !important;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  text-align: left;
  font-weight: 600;
}
